<strong id="board">JOB BOARD</strong>

<body id="color">
</body>

<h2><%= link_to("Create New Job", "/jobs/new/") %></h2>
<h2><%= link_to("View Boats", "/boats/") %></h2>

<% @jobs.each do |job| %>

  <div id="job_color">
  	<h4>Duty: <%= job.description %></h4>
  	<h4>Starting Point: <%= job.origin %></h4>
  	<h4>Destination: <%= job.destination %></h4>
  	<h4>Cost: $<%= job.cost %></h4>
  	<h4>Number of Containers: <%= job.amount_of_containers %></h4>

 <p>
 	
 	<h3><%= link_to("Select Job", job_path(job)) %></h3>
 </p>
 	<h3><%= link_to("Cancel Job", job_path(job), method: :delete) %></h3>
 </p>
 </div>
 <% end %>
 
