<body id = "job_color"></body>

<div id="board4">
<h1><%= @job.description%> <%= @job.description%></h1>
</div>


<div id="board3">
<h2>Available Boats</h2>
</div>
<% @boats.each do |b| %>

<p>
<h3 id="board5"><%=b.name %></h3> 
<h3>Starting Point: <%=b.location %></h3>
</p>


<p>
<!-- The post_path(p) takes you to the author of the post. -->
<p id="cancel"><%= link_to("Assign Boat", assign_job_path(@job.id, b.id), :id => "assign_#{ b.id }", :remote => true) %></p>
<p id="assign_<%= b.id%>"></p>
<p id="assign2"></p> 

</p>


<% end %>

