<h1>Create Boat</h1>

<div>
	<p>
		<%= form_for @boat, html: { multipart: true} do |form| %>   
		<%= form.label :name %>:   
		<%= form.text_field :name %>  
	</p>

	<p>
		<!-- Below gives you the options to select the following cities -->
		Location: <%= form.select(:location, options_for_select([['New York City', 'New York City'], ['Los Angeles', 'Los Angeles'], ['Seattle', 'Seattle'], ['Miami', 'Miami'], ['San Francisco', 'San Francisco']]))%>
	</p> 

	<p>
		<%= form.label :amount_of_containers %>:   
		<%= form.text_field :amount_of_containers %>
	</p>

</div>

<%= form.file_field :avatar %>
<%= form.submit "Create" %>

<% end %>


